# Entornos virtuales
venv/
.venv/
env/

# Caché de Python
__pycache__/
*.pyc

# Archivos de sesión (opcional, por si pesan mucho)
# *.wille

# Archivos auxiliares
*.zip

# Archivos del sistema operativo
.DS_Store
Thumbs.db